---
import "../styles/global.css";
import { Font } from "astro:assets";
import Footer from "../../components/Footer.astro";
import LinkButton from "../../components/LinkButton.astro";
import Navbar from "../../components/Navbar.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<Font cssVariable="--font-ibm-plex-mono" />
		<meta name="generator" content={Astro.generator} />
		<title>LevelSmith Labs</title>
	</head>
	<body class="bg-medium text-primary">
		<!-- Navigation Bar -->
		<Navbar />
		<!-- Main Content -->
		<main>
			<!-- Hero -->
             
			<div class="rounded-b-4xl flex flex-col gap-[24px] px-[40px] pt-[96px] pb-[32px]
            bg-dark bg-[linear-gradient(to_right,#222222_2px,transparent_1px),linear-gradient(to_bottom,#222222_2px,transparent_1px)] bg-size-[64px_64px]">
				<h1 class="text-6xl/[72px] font-bold uppercase tracking-wide">Welcome to<br>LevelSmith Labs</h1>
				<ul class="uppercase">
					<li>LevelSmith: Foundry 2D</li>
					<li>Release 1.0</li>
				</ul>
				<LinkButton name="Download" />
			</div>
            <div class="w-fill h-fit px-[40px]">
                <slot />
            </div>
		</main>
		<!-- Footer -->
		<Footer/>
	</body>
</html>