---
import "../styles/global.css";
import { Font } from "astro:assets";
import SectionHeading from "../components/SectionHeading.astro";
import ContactCard from "../components/ContactCard.astro";
import ContactCardSmall from "../components/ContactCardSmall.astro";
import ProductCard from "../components/ProductCard.astro";
import HomePageLayout from "../layouts/HomePageLayout.astro";
---

<HomePageLayout>
	<!-- Section 1 -->
	<SectionHeading title="Our Software" />
	<div class="flex flex-col gap-[24px] justify-center items-center w-full">
		<ProductCard name="LevelSmith: Foundry 2D" img="./src/assets/f2d-white.png" description="Release 1.0" />
		<div class="text-xl font-medium">More software coming soon!</div>
	</div>
	<!-- Section 2 -->
	<SectionHeading title="Contact" />
	<div class="flex flex-row justify-center gap-[16px] w-full">
		<ContactCard
			name="Sten McKinzie"
			role="CEO"
			email="xyz@rit.edu"
			phone="555-555-5555"
			website="www.xyzrit"
		/>
		<ContactCard 
			name="Bee Morse" 
			role="Producer" 
			email="xyz@rit.edu" 
			phone="555-555-5555"
			website="www.xyzrit"
		/>
		<ContactCard 
			name="Theo Ruefli" 
			role="Tech Lead" 
			email="xyz@rit.edu" 
			phone="555-555-5555"
			website="www.xyzrit"
		/>
		<ContactCard
			name="Chris Hamam"
			role="Design Lead"
			email="xyz@rit.edu"
			phone="555-555-5555"
			website="www.xyzrit"
		/>
	</div>
</HomePageLayout>
