---

---

<nav
    class="fixed bg-medium border-b-2 border-b-accent flex flex-row justify-between items-center w-full py-[8px] px-[16px] font-medium"
>
    <a
        class="text-primary hover:text-accent-light flex flex-row gap-[6px]"
        href="/"
        ><img class="max-h-[32px]" src="/src/assets/levelsmith-icon.svg" /><img
            class="max-h-[32px]"
            src="/src/assets/levelsmith-logo-text-white.png"
        /></a
    >
    <div class="flex flex-row gap-[24px] h-fit">
        <a class="text-primary hover:text-accent-light">Software</a>
        <a class="text-primary hover:text-accent-light" href="/about">About</a>
    </div>
</nav>
