---

---
<footer
    class="flex flex-row gap-[16px] justify-center w-full rounded-t-4xl p-[8px] mt-[96px]
    bg-dark bg-[linear-gradient(to_right,#222222_2px,transparent_1px),linear-gradient(to_bottom,#222222_2px,transparent_1px)] bg-size-[64px_64px]"
>
    <p class="text-secondary">&copy;2026 LevelSmith Labs.</p>
    <a class="hover:underline text-primary" href="#top">Back to Top</a>
</footer>
