---
const { name, href } = Astro.props;
---
<a class="transition-colors bg-accent hover:bg-accent-light active:bg-accent-medium rounded-md py-[4px] px-[16px] w-fit font-medium border-primary shadow-md/30" href={href}>{name}</a>