---
import logoImage from '../../src/assets/levelsmith-icon.svg'
import logoTextImage from '../../src/assets/levelsmith-logo-text-white.png'
---

<nav
    class="fixed bg-medium border-b-2 border-b-accent flex flex-row justify-between items-center w-full py-[8px] px-[16px] font-medium"
>
    <a
        class="text-primary hover:text-accent-light flex flex-row gap-[6px]"
        href="/levelsmith-website/"
        ><img class="max-h-[32px]" src={logoImage.src} /><img
            class="max-h-[32px]"
            src={logoTextImage.src}
        /></a
    >
    <div class="flex flex-row gap-[24px] h-fit">
        <div class="relative inline-block dropdown">
            <span
                class="cursor-pointer transition-colors text-primary hover:text-accent-light active:text-accent-medium pb-[12px]"
                >Software</span
            >
            <div
                class="hidden dropdown-menu absolute left-[-8px] w-fit min-w-[8rem] h-fit mt-[6px] py-[8px] px-[8px] rounded-lg origin-top-left bg-medium shadow-lg"
            >
                <a
                    class="transition-colors text-primary hover:text-accent-light active:text-accent-medium"
                    href="/levelsmith-website/foundry2d/">Foundry 2D</a
                >
            </div>
        </div>
        <a
            class="transition-colors text-primary hover:text-accent-light active:text-accent-medium"
            href="/levelsmith-website/about">About</a
        >
    </div>
</nav>

<style>
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown:hover > span {
        color: var(--color-accent-light);
    }
</style>
